* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  min-width: 320px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #404040;
  background-color: white;
}
.burger-menu {
  display: none;
  background-color: transparent;
}
.section-title {
  margin: 0 180px 60px 0;
  font-weight: bolder;
  font-size: 45px;
  font-family: Georgia, serif;
  line-height: 55px;
  color: #a38b70;
}
.btn {
  display: inline-block;
  width: 146px;
  word-wrap: break-word;
  text-align: center;
  vertical-align: top;
  font: inherit;
  border-radius: 2px;
  border: 2px solid #a38b70;
  padding: 10px;
  color: #a38b70;
  text-transform: uppercase;
  text-decoration: none;
  &:hover {
    color: #8d745a;
    border-color: #8d745a;
  }
  &:active {
    color: rgba(141, 116, 90, 0.3);
    border-color: #8d745a;
  }
}
.btn-quick-order {
  float: right;
  margin-top: 6px;
  border-color: white;
  color: white;
  &:hover {
    color:  #404040;
    background-color: white;
    border-color: white;
  }
  &:active {
    color:   rgba(64, 64, 64, 0.3);
    background-color: white;
    border-color: white;
  }
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container {
  width: 1100px;
  margin: 0 auto;
}
.arrows {
  width: 100%;
  height: inherit;
  position: relative;
  .prev {
    width: 6vmin;
    height: 6vmin;
    box-sizing: border-box;
    position: absolute;
    top: -165px;
    left: -5.5%;
    transform: rotate(-135deg);
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      border-width: .8vmin .8vmin 0 0;
      border-style: solid;
      border-color: #8d745a;
      transition: .2s ease;
      display: block;
      transform-origin: 100% 0;
    }
    &:after {
      content: '';
      float: left;
      position: relative;
      top: -100%;
      width: 100%;
      height: 100%;
      border-width: 0 .8vmin 0 0;
      border-style: solid;
      border-color: #8d745a;
      transform-origin: 100% 0;
      transition:.2s ease;
    }
    &:hover::after {
      transform: rotate(45deg);
      border-color: orange;
      height: 120%;
    }
    &:hover::before {
      border-color: orange;
      transform: scale(.8);
    }
  }
  .next {
    width: 6vmin;
    height: 6vmin;
    box-sizing: border-box;
    position: absolute;
    top: -175px;
    right: -5.5%;
    transform: rotate(45deg);
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      border-width: .8vmin .8vmin 0 0;
      border-style: solid;
      border-color: #8d745a;
      transition: .2s ease;
      display: block;
      transform-origin: 100% 0;
    }
    &:after {
      content: '';
      float: left;
      position: relative;
      top: -100%;
      width: 100%;
      height: 100%;
      border-width: 0 .8vmin 0 0;
      border-style: solid;
      border-color: #8d745a;
      transform-origin: 100% 0;
      transition:.2s ease;
    }
    &:hover::after {
      transform: rotate(45deg);
      border-color: orange;
      height: 120%;
    }
    &:hover::before {
      border-color: orange;
      transform: scale(.8);
    }
  }
}
header {
  min-height: 490px;
  padding-top: 35px;
  background-color: #363636;
  color: #c3c3c3;
  background-image: url(../../img/1.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  .header-top {
      margin-bottom: 125px;
      .header-logo {
        float: left;
        width: 330px;
        height: 100px;
        img {
          width: 234px;
          height: 97px;
        }
      }
      nav {
        ul {
          margin: 18px 0 0 0 ;
          padding: 0;
          float: left;
          width: 520px;
          list-style: none;
          li {
            float: left;
            margin-right: 100px;
            text-transform: uppercase;
            &:last-child {
              margin-right: 0;
            }
            a {
              color: white;
              text-decoration: none;
              &:hover {
                text-decoration: underline;
              }
              &:active {
                color: rgba(255,255,255, 0.3);
              }
            }
          }
        }
      }
    }
  .promo {
      font-weight: bold;
      font-size: 45px;
      line-height: 55px;
      text-align: center;
      font-family: Georgia, serif;
      a {
        color: #ffffff;
        text-decoration: none;
      }
    }
}
main {
  .features  {
    padding-top: 50px;
    padding-bottom: 55px;
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      padding-left: 122px;
      .feature-item {
        position: relative;
        width: 279px;
        padding: 90px 30px 0 30px;
        float: left;
        text-align: center;
        border-left: 1px solid #d9d9d9;
        &:first-child {
          border-left-color: transparent;
        }
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 105px;
          width: 65px;
          height: 65px;
          background: url("../../img/sprite.png") no-repeat;
        }
        p {
          margin: 0;
        }
        .feature-title {
          margin: 0 0 20px 0;
          font-family: Georgia,serif;
          font-size: 30px;
          line-height: 30px;
          font-weight: bolder;
          color: #a38b70;
        }
      }
      .feature-choice::before {
        background-position: 0 0;
      }
      .feature-quality::before {
        background-position: -2px -100px;
      }
      .feature-safety::before {
        background-position: 0 -200px;
      }
    }
  }
  .someone-reference {
    background-color: #f2f2f2;
    padding: 70px 0 90px 0;
    .container {
      position: relative;
      .to-full-reference {
        position: absolute;
        top: 5px;
        right: 0;
      }
    }
    dl {
      width: 100px;
      padding: 0;
      margin: 0;
      dt {
        margin: 0 0 10px 0;
        .reference-title {
          display: inline;
          font-size: 24px;
        }
        .reference-source {
          color: #666666;
          font-style: italic;
          a {
            position: relative;
            color: #a38b70;
            &:hover {
              color: #8d745a;
            }
            &:active {
              color: rgba(141, 116, 90, 0.3);
            }
            &::after {
              content: "";
              position: absolute;
              top:0;
              right: -10px;
              width: 8px;
              height: 8px;
              background: url(../../img/sprite.png) no-repeat -20px -494px;
            }
          }
        }
      }
      dd {
        margin: 0;
        position: relative;
        min-height: 100px;
        padding-left: 130px;
        img {
          position: absolute;
          border-radius: 5px;
          top: 0;
          left: 0;
          width: 100px;
          height: 100px;
        }
        p {
          margin: 0;
        }
      }
      dd + dt {
        margin-top: 70px;
      }
    }
  }
  .reviews {
    padding: 70px 0 90px 0;
    .container {
      position: relative;
      .to-all-reviews {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    .review-item {
      width: 377px;
      margin: 0  80px 0 0;
      padding: 0 0 0 50px;
      float: left;
      border-left: 3px solid #a38b70;
      p {
        margin: 0 0 15px 0;
      }
      .review-author {
        font-style: italic;
        font-weight: bolder;
      }
    }
  }
  .popular-and-price {
    padding: 70px 0 90px 0;
    background-color: #f2f2f2;
    .container {
      position: relative;
      .to-catalog {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    .popular-items {
      margin-bottom: 50px;
      .catalog-item {
        position: relative;
        float: left;
        width: 262px;
        border: 1px solid #d8d8d8;
        padding: 221px 22px 15px 22px;
        margin-right: 33px;
        margin-left: 33px;
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 303px;
          height: 206px;
        }
        h3 {
          float: left;
          max-width: 205px;
          margin: 0 0 20px 0;
          font-size: 16px;
          color: #000000;
        }
        .catalog-item-price {
          float:right;
          max-width: 55px;
          margin-bottom: 20px;
        }
        .btn {
          font-size: 14px;
          width: 120px;
          color: white;
          background:  #a38b70;
          &:hover {
            background-color: #8d745a;
          }
          &:active {
            color:  rgba(255, 255, 255, 0.3);
          }
        }
        .btn-info {
          float: left;
          clear: left;
        }
        .btn-buy {
          float: right;
        }
      }
    }
    .price-list  {
      line-height: 30px;
      width: 100%;
      border-collapse: collapse;
      th {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: normal;
        text-align: left;
        padding: 10px 17px;
      }
      td {
        border: 1px solid #d8d8d8;
        padding: 10px 17px;
      }
      .price-number {
        width: 15px;
        text-align: center;
      }
      .price-name {
        width: 422px;
        font-weight: bold;
        color: #000000;
      }
      .price-time {
        width: 306px;
      }
      .price-cost {
        width: 135px;
      }
    }

  }
  .feedback {
    padding: 60px 0 70px 0;
    .container {
      position: relative;
      .feedback-tip {
        position: absolute;
        top: 0;
        right: 0;
        max-width: 500px;
      }
      .section-title {
        max-width: 500px;
      }
    }
    .feedback-form {
      padding-right: 450px;
      background-image: url(../../img/s.png);
      background-repeat: no-repeat;
      background-position: 100% 34px;
      background-size: 38% 79%;
      .feedback-form-group {
        margin-bottom: 15px;
        label {
          display: inline-block;
          padding: 5px 0 5px 17px;
          text-transform: uppercase;
          font-size: 12px;
        }
        input[type="text"],
        select,
        textarea {
          width: 100%;
          height: 54px;
          box-sizing: border-box;
          padding: 9px 15px;
          font: inherit;
          color: inherit;
          border: 2px solid #d5d5d5;
          &:hover {
            border-color: #bebebe;
          }
          &:focus {
            border-color: #8d745a;
          }
        }
      }
      .feedback-form-group-left-part {
        float: left;
        width: 290px;
      }
      .feedback-form-group-right-part {
        float: right;
        width: 290px;
      }
      .checkbox-area {
        margin-bottom: 25px;
        padding: 25px 0 25px 17px;
        border-bottom: 1px solid #d5d5d5;
        input[type="checkbox"] {
          margin: 0 5px 0 0;
        }
      }
      textarea {
        display: block;
        min-height: 120px;
      }
      .btn {
        margin-top: 40px;
        background-color: #a38b70;
        color: white;
        &:hover {
          background-color: #8d745a;
        }
        &:active {
          color: rgba(255, 255, 255, 0.3);
        }
      }
    }
  }
}
footer {
  padding: 45px 0 50px 0;
  background-color: #363636;
  color: #c3c3c3;
  .footer-top {
    margin-bottom: 45px;
    .footer-logo {
      float: left;
      width: 300px;
      height: 100px;
    }
  }
  .footer-middle {
    padding-top: 50px;
    margin-bottom: 50px;
    border-top: 1px solid #5e5e5e;
    .footer-menu {
      float: left;
      width: 150px;
      margin-right: 20px;
      h3 {
        margin: 0 0 20px 0;
        font-family: Georgia, serif;
        font-size: 24px;
        font-weight: bolder;
        color: #a38b70;
      }
      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
          margin-bottom: 15px;
          a {
            color: #c3c3c3;
            text-decoration: none;
            &:hover {
              color: #ffffff;
            }
            &:active {
              color: rgba(255, 255, 255, 0.3);
            }
          }
        }
      }
    }
  }
  .footer-bottom {
    padding-top: 50px;
    border-top: 1px solid #5e5e5e;
    .footer-social {
      float: left;
      width: 480px;
      font-size: 0;
      b {
        margin-right: 40px;
        font-family: "Georgia", serif;
        font-size: 24px;
        color:  #a38b70
      }
      .social-btn {
        display: inline-block;
        vertical-align: middle;
        height:60px;
        width: 60px;
        margin-right: 10px;
        color: #ffffff;
        background: url(../../img/sprite.png) no-repeat;
        border: 1px solid rgba(255, 255, 255, 0.1);
        &:hover {
          border-color: rgba(255, 255, 255, 0.3);
        }
        &:active {
          border-color: #ffffff;
          opacity: 0.1;
        }
      }
      .social-btn-in {
        background-position: -3px -283px;
      }
      .social-btn-fb {
        background-position: -3px -350px;
      }
      .social-btn-tw {
        background-position: -1px -412px;
      }
    }
    .footer-copyright {
      float: right;
      width: 236px;
      text-transform: uppercase;
      color: #ffffff;
    }
  }
}
@media (max-width: 1262px) {
 .container {
    width: 900px;
  }
  header {
    .header-top {
      .header-logo {
        width: 260px;
      }
      ul.clearfix {
        width: 400px;
      }
    }
  }
  main {
    .reviews {
      .review-item {
        &:first-child {
          float: left;
        }
        &:last-child {
          float: right;
          margin-right: 0;
        }
      }
      .second-review {
        float: right;
        margin-right: 0;
      }
    }
    .popular-and-price .popular-items .catalog-item {
      padding: 191px 9px 15px 10px;
      margin-right: 15px;
      margin-left: 15px;
      img {
        width: 268px;
        height: 181px;
      }
    }
    .features ul {
      padding-left: 62px;
    }
    .feedback .feedback-form {
      padding-right: 362px;
      background-image: url(../../img/s.png);
      background-repeat: no-repeat;
      background-position: 101% 34px;
      background-size: 38% 60%;
      .feedback-form-group-right-part {
        float: left;
      }
    }

  }
}
@media (max-width: 1025px){
  .arrows {
    .prev {
      left: -6%;
      top: -193.5px;
    }
    .next{
      right: -6%;
      top: -193.5px;
    }
  }
  .container {
   width: 837px;
  }
  header {
    .header-top {
      .header-logo {
        width: 260px;
      }
      ul.clearfix {
        width: 400px;
      }
    }
  }
  main  {
    .features ul {
      padding-left: 0;
    }
    .popular-and-price .popular-items .catalog-item {
      padding: 273px 20px 20px 20px;
      margin-right: 33px;
      margin-left: 33px;
      .btn {
        width: 120px;
      }
      img {
        width: 352px;
        height: 256px;
      }
    }
    .feedback .feedback-form {
      padding-right: 333px;
      background-image: url(../../img/s.png);
      background-repeat: no-repeat;
      background-position: 101% 34px;
      background-size: 38% 60%;
      .feedback-form-group-right-part {
        float: left;
      }
    }
  }
}
@media (max-width: 972px) {
  header nav {
    display: none;
  }
  .burger-menu {
    float: left;
    display: block;
    margin: 6px auto 0 100px;
    width: 200px;
    background-color: transparent;
    position: relative;
    color: white;
    text-align: center;
    height: 48px;
    border: 2px solid white;
    border-radius: 2px;
    #check-menu{
      display: none;
    }
    label{
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      z-index: 2;
      line-height: 40px;
    }
    .burger-line {
      position: absolute;
      top: 8px;
      right: 10px;
      width: 35px;
      height: 2px;
      background-color: #fff;
      transition: .5s all;
    }
    .second, .third{
      top: 18px;
    }
    .fourth{
      top: 28px;
    }
    .menu {
      display: block;
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      transform: translateY(100%);
      max-height: 0;
      font-size: 0;
      overflow: hidden;
      transition: .5s all;
      a {
        display: block;
        width: 100%;
        padding: 10px;
        color: white;
        text-decoration: none;
        border-top: 2px solid white;
        border-radius: 2px;
        background-color: #000;
        &:hover {
          background-color: rgba(0,0,0,.9);
        }
      }
      a:hover {
        background-color: white;
        color:  #404040;
      }
    }
    #check-menu:checked ~ .menu{
      max-height: 500px;
      font-size: 16px;
    }
    #check-menu:checked ~ .first{
      display: none;
    }
    #check-menu:checked ~ .second{
      transform: rotate(45deg);
    }
    #check-menu:checked ~ .third{
      transform: rotate(-45deg);
    }
    #check-menu:checked ~ .fourth{
      display: none;
    }
  }
  .arrows {
    .prev {
      left: -10%;
      top: -222px;
    }
    .next{
      right: -10%;
      top: -222px;
    }
  }
  .container {
    width: 727px;
  }
  main {
    .features ul {
      padding: 0 230px;
      li.feature-item {
        border: none;
      }
    }
    .reviews {
      .review-item{
        &:last-child {
          float: left;
          margin-top: 70px;
        }
      }
    }
    .popular-and-price .popular-items {
      padding: 0 100px;
      .catalog-item {
        padding: 330px 14px 20px 20px;
        margin-right: 0;
        margin-left: 0;
        img {
          width: 525px;
          height: 315px;
        }
      }
    }
    .feedback .feedback-form {
      padding-right: 0;
      background-image: none;
      .feedback-form-group-right-part {
        float: right;
      }
    }
  }
}
@media (max-width: 750px) {
  .container {
    width: 500px;
  }
  header {
    .btn-quick-order {
      display: none;
    }
    .burger-menu {
      margin: 0;
      float: right;
    }
    .promo {
      font-size: 33px;
    }
  }
  main {
    .features ul {
      padding: 0 125px;
    }
    .popular-and-price .popular-items {
      padding: 0 50px;
      .catalog-item {
        padding: 270px 14px 20px 20px;
        img {
          width: 398px;
          height: 261px;
        }
      }
    }
    .popular-items + .section-title {
      margin-right: 78px;
    }
    .price-list .price-time,
    .price-cost{
      text-align: center;
    }
    .feedback {
      .container .feedback-tip {
        top: 50px;
        left: 0;
      }
      .feedback-form .feedback-form-group-right-part {
        float: left;
      }
    }
  }
  footer {
    .footer-bottom .footer-copyright {
      float: left;
    }
  }
}
@media (max-width: 550px) {
  .container {
    width: 400px;
  }
  .btn {
    width: 130px;
    font-size: 14px;
  }
  .section-title {
    margin: 0 0 60px 0;
    font-size: 35px;
  }
  header{
    .header-top {
      .header-logo {
        width: 200px;
        img {
          width: 200px;
          height: 90px;
        }
      }
    }
    .burger-menu {
      width: 170px;
    }
    .promo {
      font-size: 25px;
    }
  }
  main {
    .features ul {
      padding: 0 50px;
    }
    .popular-and-price {
      .popular-items {
        .catalog-item {
          padding: 250px 14px 20px 20px;
          img {
            width: 298px;
            height: 233px;
          }
        }
      }
      .price-list th {
        text-align: center;
      }
    }
  }
  footer{
    .footer-logo {
      width: 270px;
    }
    .footer-bottom .footer-social {
      width: 250px;
      margin-bottom: 10px;
      b {
        display: none;
      }
    }
  }
}
@media (max-width: 450px) {
  .container {
    width: 375px;
  }
}
@media (max-width: 380px) {
  .container {
    width: 300px;
  }
  .section-title {
    font-size: 25px;
  }
  header {
    .header-top {
      .header-logo {
        width: 150px;
        img {
          width: 150px;
          height: 70px;
        }
      }
    }
    .burger-menu {
      width: 125px;
      text-align: left;
      label {
        margin-left: 10px;
      }
    }
    .promo {
      font-size: 20px;
    }
  }
  main {
    .features ul {
      padding: 0;
    }
    .popular-and-price {
      .popular-items {
        padding: 0px 20px;
        .catalog-item {
          padding: 210px 10px 10px 10px;
          img {
            width: 260px;
            height: 195px;
          }
          .btn {
            width: 110px;
            font-size: 12px;
          }
        }
      }
      .price-list {
        line-height: 25px;
        font-size: 10px;
        th {
          font-size: 10px;
          padding: 0;
        }
        td {
          padding: 2px 8px;
        }
      }
    }
  }
}