* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  min-width: 320px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #404040;
  background-color: white;
}
.burger-menu {
  display: none;
  background-color: transparent;
}
.section-title {
  margin: 0 180px 60px 0;
  font-weight: bolder;
  font-size: 45px;
  font-family: Georgia, serif;
  line-height: 55px;
  color: #a38b70;
}
.btn {
  display: inline-block;
  width: 146px;
  word-wrap: break-word;
  text-align: center;
  vertical-align: top;
  font: inherit;
  border-radius: 2px;
  border: 2px solid #a38b70;
  padding: 10px;
  color: #a38b70;
  text-transform: uppercase;
  text-decoration: none;
}
.btn:hover {
  color: #8d745a;
  border-color: #8d745a;
}
.btn:active {
  color: rgba(141, 116, 90, 0.3);
  border-color: #8d745a;
}
.btn-quick-order {
  float: right;
  margin-top: 6px;
  border-color: white;
  color: white;
}
.btn-quick-order:hover {
  color: #404040;
  background-color: white;
  border-color: white;
}
.btn-quick-order:active {
  color: rgba(64, 64, 64, 0.3);
  background-color: white;
  border-color: white;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container {
  width: 1100px;
  margin: 0 auto;
}
.arrows {
  width: 100%;
  height: inherit;
  position: relative;
}
.arrows .prev {
  width: 6vmin;
  height: 6vmin;
  box-sizing: border-box;
  position: absolute;
  top: -165px;
  left: -5.5%;
  transform: rotate(-135deg);
}
.arrows .prev::before {
  content: '';
  width: 100%;
  height: 100%;
  border-width: 0.8vmin 0.8vmin 0 0;
  border-style: solid;
  border-color: #8d745a;
  transition: 0.2s ease;
  display: block;
  transform-origin: 100% 0;
}
.arrows .prev:after {
  content: '';
  float: left;
  position: relative;
  top: -100%;
  width: 100%;
  height: 100%;
  border-width: 0 0.8vmin 0 0;
  border-style: solid;
  border-color: #8d745a;
  transform-origin: 100% 0;
  transition: 0.2s ease;
}
.arrows .prev:hover::after {
  transform: rotate(45deg);
  border-color: orange;
  height: 120%;
}
.arrows .prev:hover::before {
  border-color: orange;
  transform: scale(0.8);
}
.arrows .next {
  width: 6vmin;
  height: 6vmin;
  box-sizing: border-box;
  position: absolute;
  top: -175px;
  right: -5.5%;
  transform: rotate(45deg);
}
.arrows .next::before {
  content: '';
  width: 100%;
  height: 100%;
  border-width: 0.8vmin 0.8vmin 0 0;
  border-style: solid;
  border-color: #8d745a;
  transition: 0.2s ease;
  display: block;
  transform-origin: 100% 0;
}
.arrows .next:after {
  content: '';
  float: left;
  position: relative;
  top: -100%;
  width: 100%;
  height: 100%;
  border-width: 0 0.8vmin 0 0;
  border-style: solid;
  border-color: #8d745a;
  transform-origin: 100% 0;
  transition: 0.2s ease;
}
.arrows .next:hover::after {
  transform: rotate(45deg);
  border-color: orange;
  height: 120%;
}
.arrows .next:hover::before {
  border-color: orange;
  transform: scale(0.8);
}
header {
  min-height: 490px;
  padding-top: 35px;
  background-color: #363636;
  color: #c3c3c3;
  background-image: url(../../img/1.jpg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
header .header-top {
  margin-bottom: 125px;
}
header .header-top .header-logo {
  float: left;
  width: 330px;
  height: 100px;
}
header .header-top .header-logo img {
  width: 234px;
  height: 97px;
}
header .header-top nav ul {
  margin: 18px 0 0 0 ;
  padding: 0;
  float: left;
  width: 520px;
  list-style: none;
}
header .header-top nav ul li {
  float: left;
  margin-right: 100px;
  text-transform: uppercase;
}
header .header-top nav ul li:last-child {
  margin-right: 0;
}
header .header-top nav ul li a {
  color: white;
  text-decoration: none;
}
header .header-top nav ul li a:hover {
  text-decoration: underline;
}
header .header-top nav ul li a:active {
  color: rgba(255, 255, 255, 0.3);
}
header .promo {
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  text-align: center;
  font-family: Georgia, serif;
}
header .promo a {
  color: #ffffff;
  text-decoration: none;
}
main .features {
  padding-top: 50px;
  padding-bottom: 55px;
}
main .features ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 122px;
}
main .features ul .feature-item {
  position: relative;
  width: 279px;
  padding: 90px 30px 0 30px;
  float: left;
  text-align: center;
  border-left: 1px solid #d9d9d9;
}
main .features ul .feature-item:first-child {
  border-left-color: transparent;
}
main .features ul .feature-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 105px;
  width: 65px;
  height: 65px;
  background: url("../../img/sprite.png") no-repeat;
}
main .features ul .feature-item p {
  margin: 0;
}
main .features ul .feature-item .feature-title {
  margin: 0 0 20px 0;
  font-family: Georgia,serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: bolder;
  color: #a38b70;
}
main .features ul .feature-choice::before {
  background-position: 0 0;
}
main .features ul .feature-quality::before {
  background-position: -2px -100px;
}
main .features ul .feature-safety::before {
  background-position: 0 -200px;
}
main .someone-reference {
  background-color: #f2f2f2;
  padding: 70px 0 90px 0;
}
main .someone-reference .container {
  position: relative;
}
main .someone-reference .container .to-full-reference {
  position: absolute;
  top: 5px;
  right: 0;
}
main .someone-reference dl {
  width: 100%;
  padding: 0;
  margin: 0;
}
main .someone-reference dl dt {
  margin: 0 0 10px 0;
}
main .someone-reference dl dt .reference-title {
  display: inline;
  font-size: 24px;
}
main .someone-reference dl dt .reference-source {
  color: #666666;
  font-style: italic;
}
main .someone-reference dl dt .reference-source a {
  position: relative;
  color: #a38b70;
}
main .someone-reference dl dt .reference-source a:hover {
  color: #8d745a;
}
main .someone-reference dl dt .reference-source a:active {
  color: rgba(141, 116, 90, 0.3);
}
main .someone-reference dl dt .reference-source a::after {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  width: 8px;
  height: 8px;
  background: url(../../img/sprite.png) no-repeat -20px -494px;
}
main .someone-reference dl dd {
  margin: 0;
  min-height: 100px;
}
main .someone-reference dl dd img {
  border-radius: 5px;
  float: left;
  margin-right: 20px;
  width: 100px;
  height: 100px;
}
main .someone-reference dl dd p {
  margin: 0;
}
main .someone-reference dl dd + dt {
  margin-top: 70px;
}
main .reviews {
  padding: 70px 0 90px 0;
}
main .reviews .container {
  position: relative;
}
main .reviews .container .to-all-reviews {
  position: absolute;
  top: 0;
  right: 0;
}
main .reviews .review-item {
  width: 320px;
  margin: 0  80px 0 0;
  padding: 0 0 0 50px;
  float: left;
  border-left: 3px solid #a38b70;
}
main .reviews .review-item p {
  margin: 0 0 15px 0;
}
main .reviews .review-item .review-author {
  font-style: italic;
  font-weight: bolder;
}
main .popular-and-price {
  padding: 70px 0 90px 0;
  background-color: #f2f2f2;
}
main .popular-and-price .container {
  position: relative;
}
main .popular-and-price .container .to-catalog {
  position: absolute;
  top: 0;
  right: 0;
}
main .popular-and-price .popular-items {
  margin-bottom: 50px;
}
main .popular-and-price .popular-items .catalog-item {
  position: relative;
  float: left;
  width: 262px;
  border: 1px solid #d8d8d8;
  padding: 221px 22px 15px 22px;
  margin-right: 33px;
  margin-left: 33px;
}
main .popular-and-price .popular-items .catalog-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 303px;
  height: 206px;
}
main .popular-and-price .popular-items .catalog-item h3 {
  float: left;
  max-width: 205px;
  margin: 0 0 20px 0;
  font-size: 16px;
  color: #000000;
}
main .popular-and-price .popular-items .catalog-item .catalog-item-price {
  float: right;
  max-width: 55px;
  margin-bottom: 20px;
}
main .popular-and-price .popular-items .catalog-item .btn {
  font-size: 14px;
  width: 120px;
  color: white;
  background: #a38b70;
}
main .popular-and-price .popular-items .catalog-item .btn:hover {
  background-color: #8d745a;
}
main .popular-and-price .popular-items .catalog-item .btn:active {
  color: rgba(255, 255, 255, 0.3);
}
main .popular-and-price .popular-items .catalog-item .btn-info {
  float: left;
  clear: left;
}
main .popular-and-price .popular-items .catalog-item .btn-buy {
  float: right;
}
main .popular-and-price .price-list {
  line-height: 30px;
  width: 100%;
  border-collapse: collapse;
}
main .popular-and-price .price-list th {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: normal;
  text-align: left;
  padding: 10px 17px;
}
main .popular-and-price .price-list td {
  border: 1px solid #d8d8d8;
  padding: 10px 17px;
}
main .popular-and-price .price-list .price-number {
  width: 15px;
  text-align: center;
}
main .popular-and-price .price-list .price-name {
  width: 422px;
  font-weight: bold;
  color: #000000;
}
main .popular-and-price .price-list .price-time {
  width: 306px;
}
main .popular-and-price .price-list .price-cost {
  width: 135px;
}
main .feedback {
  padding: 60px 0 70px 0;
}
main .feedback .container {
  position: relative;
}
main .feedback .container .feedback-tip {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 500px;
}
main .feedback .container .section-title {
  max-width: 500px;
}
main .feedback .feedback-form {
  padding-right: 450px;
  background-image: url(../../img/s.png);
  background-repeat: no-repeat;
  background-position: 100% 34px;
  background-size: 38% 79%;
}
main .feedback .feedback-form .feedback-form-group {
  margin-bottom: 15px;
}
main .feedback .feedback-form .feedback-form-group label {
  display: inline-block;
  padding: 5px 0 5px 17px;
  text-transform: uppercase;
  font-size: 12px;
}
main .feedback .feedback-form .feedback-form-group input[type="text"],
main .feedback .feedback-form .feedback-form-group select,
main .feedback .feedback-form .feedback-form-group textarea {
  width: 100%;
  height: 54px;
  box-sizing: border-box;
  padding: 9px 15px;
  font: inherit;
  color: inherit;
  border: 2px solid #d5d5d5;
}
main .feedback .feedback-form .feedback-form-group input[type="text"]:hover,
main .feedback .feedback-form .feedback-form-group select:hover,
main .feedback .feedback-form .feedback-form-group textarea:hover {
  border-color: #bebebe;
}
main .feedback .feedback-form .feedback-form-group input[type="text"]:focus,
main .feedback .feedback-form .feedback-form-group select:focus,
main .feedback .feedback-form .feedback-form-group textarea:focus {
  border-color: #8d745a;
}
main .feedback .feedback-form .feedback-form-group-left-part {
  float: left;
  width: 290px;
}
main .feedback .feedback-form .feedback-form-group-right-part {
  float: right;
  width: 290px;
}
main .feedback .feedback-form .checkbox-area {
  margin-bottom: 25px;
  padding: 25px 0 25px 17px;
  border-bottom: 1px solid #d5d5d5;
}
main .feedback .feedback-form .checkbox-area input[type="checkbox"] {
  margin: 0 5px 0 0;
}
main .feedback .feedback-form textarea {
  display: block;
  min-height: 120px;
}
main .feedback .feedback-form .btn {
  margin-top: 40px;
  background-color: #a38b70;
  color: white;
}
main .feedback .feedback-form .btn:hover {
  background-color: #8d745a;
}
main .feedback .feedback-form .btn:active {
  color: rgba(255, 255, 255, 0.3);
}
footer {
  padding: 45px 0 50px 0;
  background-color: #363636;
  color: #c3c3c3;
}
footer .footer-top {
  margin-bottom: 45px;
}
footer .footer-top .footer-logo {
  float: left;
  width: 300px;
  height: 100px;
}
footer .footer-middle {
  padding-top: 50px;
  margin-bottom: 50px;
  border-top: 1px solid #5e5e5e;
}
footer .footer-middle .footer-menu {
  float: left;
  width: 150px;
  margin-right: 20px;
}
footer .footer-middle .footer-menu h3 {
  margin: 0 0 20px 0;
  font-family: Georgia, serif;
  font-size: 24px;
  font-weight: bolder;
  color: #a38b70;
}
footer .footer-middle .footer-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
footer .footer-middle .footer-menu ul li {
  margin-bottom: 15px;
}
footer .footer-middle .footer-menu ul li a {
  color: #c3c3c3;
  text-decoration: none;
}
footer .footer-middle .footer-menu ul li a:hover {
  color: #ffffff;
}
footer .footer-middle .footer-menu ul li a:active {
  color: rgba(255, 255, 255, 0.3);
}
footer .footer-bottom {
  padding-top: 50px;
  border-top: 1px solid #5e5e5e;
}
footer .footer-bottom .footer-social {
  float: left;
  width: 480px;
  font-size: 0;
}
footer .footer-bottom .footer-social b {
  margin-right: 40px;
  font-family: "Georgia", serif;
  font-size: 24px;
  color: #a38b70;
}
footer .footer-bottom .footer-social .social-btn {
  display: inline-block;
  vertical-align: middle;
  height: 60px;
  width: 60px;
  margin-right: 10px;
  color: #ffffff;
  background: url(../../img/sprite.png) no-repeat;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
footer .footer-bottom .footer-social .social-btn:hover {
  border-color: rgba(255, 255, 255, 0.3);
}
footer .footer-bottom .footer-social .social-btn:active {
  border-color: #ffffff;
  opacity: 0.1;
}
footer .footer-bottom .footer-social .social-btn-in {
  background-position: -3px -283px;
}
footer .footer-bottom .footer-social .social-btn-fb {
  background-position: -3px -350px;
}
footer .footer-bottom .footer-social .social-btn-tw {
  background-position: -1px -412px;
}
footer .footer-bottom .footer-copyright {
  float: right;
  width: 236px;
  text-transform: uppercase;
  color: #ffffff;
}
@media (max-width: 1262px) {
  .container {
    width: 900px;
  }
  header .header-top .header-logo {
    width: 260px;
  }
  header .header-top ul.clearfix {
    width: 400px;
  }
  main .reviews .review-item:first-child {
    float: left;
  }
  main .reviews .review-item:last-child {
    float: right;
    margin-right: 0;
  }
  main .reviews .second-review {
    float: right;
    margin-right: 0;
  }
  main .popular-and-price .popular-items .catalog-item {
    padding: 191px 9px 15px 10px;
    margin-right: 15px;
    margin-left: 15px;
  }
  main .popular-and-price .popular-items .catalog-item img {
    width: 268px;
    height: 181px;
  }
  main .features ul {
    padding-left: 62px;
  }
  main .feedback .feedback-form {
    padding-right: 362px;
    background-image: url(../../img/s.png);
    background-repeat: no-repeat;
    background-position: 101% 34px;
    background-size: 38% 60%;
  }
  main .feedback .feedback-form .feedback-form-group-right-part {
    float: left;
  }
}
@media (max-width: 1025px) {
  .arrows .prev {
    left: -6%;
    top: -193.5px;
  }
  .arrows .next {
    right: -6%;
    top: -193.5px;
  }
  .container {
    width: 837px;
  }
  header .header-top .header-logo {
    width: 260px;
  }
  header .header-top ul.clearfix {
    width: 400px;
  }
  main .features ul {
    padding-left: 0;
  }
  main .popular-and-price .popular-items .catalog-item {
    padding: 273px 20px 20px 20px;
    margin-right: 33px;
    margin-left: 33px;
  }
  main .popular-and-price .popular-items .catalog-item .btn {
    width: 120px;
  }
  main .popular-and-price .popular-items .catalog-item img {
    width: 352px;
    height: 256px;
  }
  main .feedback .feedback-form {
    padding-right: 333px;
    background-image: url(../../img/s.png);
    background-repeat: no-repeat;
    background-position: 101% 34px;
    background-size: 38% 60%;
  }
  main .feedback .feedback-form .feedback-form-group-right-part {
    float: left;
  }
}
@media (max-width: 972px) {
  header nav {
    display: none;
  }
  .burger-menu {
    float: left;
    display: block;
    margin: 6px auto 0 100px;
    width: 200px;
    background-color: transparent;
    position: relative;
    color: white;
    text-align: center;
    height: 48px;
    border: 2px solid white;
    border-radius: 2px;
  }
  .burger-menu #check-menu {
    display: none;
  }
  .burger-menu label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    line-height: 40px;
  }
  .burger-menu .burger-line {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 35px;
    height: 2px;
    background-color: #fff;
    transition: 0.5s all;
  }
  .burger-menu .second,
  .burger-menu .third {
    top: 18px;
  }
  .burger-menu .fourth {
    top: 28px;
  }
  .burger-menu .menu {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    transition: 0.5s all;
  }
  .burger-menu .menu a {
    display: block;
    width: 100%;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-top: 2px solid white;
    border-radius: 2px;
    background-color: #000;
  }
  .burger-menu .menu a:hover {
    background-color: rgba(0, 0, 0, 0.9);
  }
  .burger-menu .menu a:hover {
    background-color: white;
    color: #404040;
  }
  .burger-menu #check-menu:checked ~ .menu {
    max-height: 500px;
    font-size: 16px;
  }
  .burger-menu #check-menu:checked ~ .first {
    display: none;
  }
  .burger-menu #check-menu:checked ~ .second {
    transform: rotate(45deg);
  }
  .burger-menu #check-menu:checked ~ .third {
    transform: rotate(-45deg);
  }
  .burger-menu #check-menu:checked ~ .fourth {
    display: none;
  }
  .arrows .prev {
    left: -10%;
    top: -222px;
  }
  .arrows .next {
    right: -10%;
    top: -222px;
  }
  .container {
    width: 727px;
  }
  main .features ul {
    padding: 0 230px;
  }
  main .features ul li.feature-item {
    border: none;
  }
  main .reviews .review-item:last-child {
    float: left;
    margin-top: 70px;
  }
  main .popular-and-price .popular-items {
    padding: 0 100px;
  }
  main .popular-and-price .popular-items .catalog-item {
    padding: 330px 14px 20px 20px;
    margin-right: 0;
    margin-left: 0;
  }
  main .popular-and-price .popular-items .catalog-item img {
    width: 525px;
    height: 315px;
  }
  main .feedback .feedback-form {
    padding-right: 0;
    background-image: none;
  }
  main .feedback .feedback-form .feedback-form-group-right-part {
    float: right;
  }
}
@media (max-width: 750px) {
  .container {
    width: 500px;
  }
  header .btn-quick-order {
    display: none;
  }
  header .burger-menu {
    margin: 0;
    float: right;
  }
  header .promo {
    font-size: 33px;
  }
  main .features ul {
    padding: 0 125px;
  }
  main .popular-and-price .popular-items {
    padding: 0 50px;
  }
  main .popular-and-price .popular-items .catalog-item {
    padding: 270px 14px 20px 20px;
  }
  main .popular-and-price .popular-items .catalog-item img {
    width: 398px;
    height: 261px;
  }
  main .popular-items + .section-title {
    margin-right: 0;
  }
  main .price-list .price-time,
  main .price-cost {
    text-align: center;
  }
  main .feedback .container .feedback-tip {
    top: 50px;
    left: 0;
  }
  main .feedback .feedback-form .feedback-form-group-right-part {
    float: left;
  }
  footer .footer-bottom .footer-copyright {
    float: left;
  }
}
@media (max-width: 550px) {
  .container {
    width: 400px;
  }
  .btn {
    width: 130px;
    font-size: 14px;
  }
  .section-title {
    margin: 0 0 60px 0;
    font-size: 35px;
  }
  header .header-top .header-logo {
    width: 200px;
  }
  header .header-top .header-logo img {
    width: 200px;
    height: 90px;
  }
  header .burger-menu {
    width: 170px;
  }
  header .promo {
    font-size: 25px;
  }
  main .features ul {
    padding: 0 50px;
  }
  main .popular-and-price .popular-items .catalog-item {
    padding: 250px 14px 20px 20px;
  }
  main .popular-and-price .popular-items .catalog-item img {
    width: 298px;
    height: 233px;
  }
  main .popular-and-price .price-list th {
    text-align: center;
  }
  footer .footer-logo {
    width: 270px;
  }
  footer .footer-bottom .footer-social {
    width: 250px;
    margin-bottom: 10px;
  }
  footer .footer-bottom .footer-social b {
    display: none;
  }
}
@media (max-width: 450px) {
  .container {
    width: 375px;
  }
}
@media (max-width: 380px) {
  .arrows .prev {
    left: -9%;
    top: -157px;
  }
  .arrows .next {
    right: -9%;
    top: -157px;
  }
  .btn {
    width: 100px;
    font-size: 11px;
  }
  .container {
    width: 300px;
  }
  .section-title {
    font-size: 30px;
  }
  header .header-top .header-logo {
    width: 150px;
  }
  header .header-top .header-logo img {
    width: 150px;
    height: 70px;
  }
  header .burger-menu {
    width: 125px;
    text-align: left;
  }
  header .burger-menu label {
    margin-left: 10px;
  }
  header .promo {
    font-size: 20px;
  }
  main .features ul {
    padding: 0;
  }
  main .popular-and-price .popular-items {
    padding: 0px 20px;
  }
  main .popular-and-price .popular-items .catalog-item {
    padding: 210px 10px 10px 10px;
  }
  main .popular-and-price .popular-items .catalog-item img {
    width: 260px;
    height: 195px;
  }
  main .popular-and-price .popular-items .catalog-item .btn {
    width: 110px;
    font-size: 12px;
  }
  main .popular-and-price .price-list {
    line-height: 25px;
    font-size: 10px;
  }
  main .popular-and-price .price-list tr {
    line-height: 15px;
  }
  main .popular-and-price .price-list th {
    font-size: 10px;
    padding: 0;
  }
  main .popular-and-price .price-list td {
    padding: 15px 13px;
  }
  footer .footer-top .footer-logo {
    width: 150px;
  }
  footer .footer-top .footer-logo img {
    width: 150px;
    height: 70px;
  }
  footer .footer-middle .footer-menu {
    margin-right: 0;
  }
  footer .footer-bottom {
    padding-top: 25px;
  }
  footer .footer-bottom .footer-social {
    padding-bottom: 25px;
    float: none;
    margin: 0 auto;
    width: 210px;
  }
  footer .footer-bottom .footer-copyright {
    width: 177px;
    float: none;
    margin: 0 auto;
  }
}
